.shy{
  display: flex ;
  justify-content: space-between ;
  flex-wrap: wrap;
  width:100%;
  padding: 50px 0px;
  border: 5px solid white;
}
.card_style {
  background-color: #95c12b;
  padding: 30px;
  margin-bottom: 50px;
}
.imgStyle img{
    width: 100%;
    height: 100%;
    border-bottom: 4px solid white;
    border-top:4px solid white;
    border-right:4px solid white ;
}
.card-content{
  width: 55%;
  padding-right:20px;
}
.card-content h1 , p{
    word-break: break-all;
    color: white;
}
.imgStyle{
  width: 40%;
  padding-left: 20px;
}