
.image__slider{
    width: 100%;
    background-size: contain;
}
/* Content message after crousal */

.message__container{
    display: flex;
    justify-content: center;
}

.main__message{
    background: #95c12b;
    justify-content: center;
    padding: 12px 20px;
    color: white;
    letter-spacing: 5px;
    text-align: center;
    border-radius: 12px;
}